.footer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: 'left center right';
  place-items: center;
  background-color: black;
  bottom: 0;
  height: 300px;
  color: white;
}

.footer-left {
  grid-area: left;
  justify-self: start;
  margin-left: 20px;
}

.footer-right {
  grid-area: right;
}

.footer-center {
  text-align: center;
  grid-area: center;
}

.footer-center p {
  margin-top: -14%;
}

.footer-item a {
  color: white;
  text-decoration: none;
}

.footer a p {
  font-size: 15px;
}


@media (max-width: 1475px) {
  .footer {
    width: 100%;
  }

  .footer h1 {
    font-size: 1.8em;
  }
  .footer p {
    font-size: 0.8em;
  }
}

@media (max-width: 1026px) {
  .footer {
    width: 100%;
  }

  .footer h1 {
    font-size: 1.4em;
  }
  .footer p {
    font-size: 0.7em;
  }
}

@media (max-width: 800px) {
  .footer {
    width: 100%;
  }

  .footer-item {
    margin-top: 30px;
  }

  .footer h1 {
    font-size: 1.3em;
  }
  .footer p {
    font-size: 0.6em;
  }
}

@media (max-width: 645px) {
  .footer {
    width: 100%;
  }

  .footer h1 {
    font-size: 1.1em;
  }

  .footer p {
    font-size: 0.5em;
  }
}

@media (max-width: 550px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-areas:
      'right'
      'center'
      'left';
    width: 100%;
    height: 100%;
  }
}
